{% extends base_layout %}
{% block content %}
<div class="l-box pure-u-1 big-font">
	<legend> About Us </legend>

  <div class="l-box-r pure-u-4-5 big-font">
        We are a Team of dedicated Miners who were looking for a better way to Track our Earnings and follow stay up to date on our Miners.  We wanted a cloudbased spreadsheet to keep the platform as flexible as possible yet maintain the simplicity of accessing our information from anywhere. We hope they you will find ExcellCoin Contrack it as helpful as we have.
   </div>
    <p id='ab'></p><p id='ab'></p>
   </div>
{% endblock %}


