{% extends base_layout %}

{% block header_title %}
    {% trans %}Change your password{% endtrans %}
{% endblock %}

{% block content %}
    <div class="l-box pure-u-1">
    <p id='t'></p><p id='t'></p>
    <form class="pure-form pure-form-stacked " id="form_edit_password" action="{{ url|safe }}" method="post" >
        <fieldset>
            <div class="pure-u-1">
                <legend> Change Password </legend>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <div class ="pure-u-1 pure-u-med-2-5">
            {{ macros.field(form.current_password, label=_("Current Password"), placeholder=_("Enter your")+" "+_("Current Password"), class="input-xlarge focused required", type="password") }}
            <div class="control-group">
                <div class="controls">
                    <a href="{{ uri_for('password-reset') }}">{% trans %}Forgot your password?{% endtrans %}</a>
                </div>
            </div>
            {{ macros.field(form.password, label=_("New Password"), placeholder=_("Enter your")+" "+_("New Password"), class="input-xlarge focused required", type="password") }}
            {{ macros.field(form.c_password, label=_("Confirm Password"), placeholder=_("Confirm Password"), class="input-xlarge focused required", type="password") }}
            <div class="form-actions is-center">
                <button type="submit" class="pure-button">{% trans %}Change password{% endtrans %}</button>
            </div>
         </div>
        </fieldset>
    </form>
        <p id='b'></p><p id='b'></p>
    </div>


{% endblock %}

{% block mediaJSLast %}
    <script>
        $().ready(function() {
            $("#form_edit_password").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                rules: {
                    password: 'required',
                    c_password: {
                        required: true,
                        equalTo: '#password'
                    }
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
            $("#password").passStrength({
                shortPassText: '{% trans %}Short Password{% endtrans %}',
                badPassText: '{% trans %}Insecure Password{% endtrans %}',
                goodPassText: '{% trans %}Good Password{% endtrans %}',
                strongPassText: '{% trans %}Secure Password{% endtrans %}'
            });
        });
    </script>
{% endblock %}