{% extends base_layout %}

{% block header_title %}
    {% trans %}Forgot your password?{% endtrans %}
{% endblock %}

{% block content %}
    <script>
        var RecaptchaOptions = {
            theme : 'white'
        };
    </script>

    <div class="pure-u-1">
    <form class="pure-form pure-form-stacked " id="form_edit_password" action="{{ url|safe }}" method="post" >
        <fieldset>
            <div class="pure-u-1">
                <legend> Change Password </legend>
            </div>
            <div class="pure-u-2-5">
                <label class="control-label" for="email_or_username">{% trans %}Username or Email{% endtrans %}:</label>
                <div class="controls">
                    <input class="input-xlarge focused required" name="email_or_username" id="email_or_username" type="text" placeholder="{{ _("Enter your")|safe }} {{ _("Username or Email")|safe }}" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls" id="captcha">
                    {{captchahtml | safe}}
                </div>
            </div>
            <div class="form-actions">
                <p id='t'></p><p id='t'></p>
                <button type="submit" class="pure-button">{% trans %}Reset password{% endtrans %}</button>
            </div>

        </fieldset>
    </form>

        <p id='b'></p><p id='b'></p>
    </div>
{% endblock %}

{% block mediaJSLast %}
    <script>
        $().ready(function() {
            $("#form_reset_password").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
        });
    </script>
{% endblock %}